<div class="beta-signup">
  <p>Our iOS app is currently in private beta. Sign up to get access and learn more:</p>
  <form class="form-email" action="http://craves.createsend.com/t/t/s/dlkhlk/" method="post">
    <label for="field-email" class="hidden">Email</label>
    <input id="field-email" name="cm-dlkhlk-dlkhlk" placeholder="Enter your email..." type="email" required />
    <button type="submit" class="btn">
      <strong>Sign Up</strong>
    </button>
  </form>
</div>