<div class="betaSignUp">
  <p>Our iOS app is currently in private beta. Sign up to get access and learn more:</p>
  <form action="http://craves.createsend.com/t/t/s/dlkhlk/" method="post">
    <div class="formGroup">
      <label for="fieldEmail" class="hidden">Email</label>
      <input id="fieldEmail" name="cm-dlkhlk-dlkhlk" placeholder="Enter your email..." type="email" required />
      <button type="submit" class="btn">
        <strong>Sign Up</strong>
      </button>
    </div>
  </form>
</div>