<footer>
  <a href="http://craves.io" rel="me" class="logo-link"><div class="logo"></div></a>
  <p>You should follow us on <a href="http://twitter.com/cravesapp" title="Follow Me on Twitter">Twitter</a></p>
  <p>Copyright © 2015</p>
  <p>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script>
  (function(d) {
    var config = {
      kitId: 'lgj6dbw',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
{{!--
<script src="/assets/js/plugins.js"></script>
--}}
<script src="/assets/js/main.js"></script>
