{{!< default}}

{{> header}}

<div class="hero-blog">
  <h2 class="blog-title">Oops!</h2>
  <h4 class="blog-description">We couldn't find what you're looking for </h4>
  <br>
  <h4 class="blog-description">¯\_(ツ)_/¯</h4>
  <p>You could...</p>
  <ul class="unstyled">
    <li>Sign up for the <a href="http://craves.io" title="Craves.io">Beta</a></li>
    <li>Check out our <a href="http://blog.craves.io" title="Craves blog">blog</li>
    <li><a href="mailto:scott@craves.io">Email us</a></li>
  </ul>
  <hr>
</div>

{{!-- <main role="main">

{{> "loop"}}

</main> --}}

{{> footer}}