{{!< default}}

{{> header}}

<div class="hero-blog">
  <h2 class="blog-title">{{@blog.title}}</h2>
  <h4 class="blog-description">{{@blog.description}}</h4>
</div>

<hr>

<main role="main">

{{> "loop"}}

</main>

{{> footer}}