{{!< default}}

{{> header}}

<div class="hero">
  <h2 class="blogTitle">Welcome to the Craves<br/>{{@blog.title}}</h2>
  <h4 class="blogDescription">{{@blog.description}}</h4>
</div>

<hr>

<main role="main">

{{> "loop"}}

</main>

{{> footer}}